<header class="top">
<h1>Chase Donohue</h1>
<h2>Web Developer</h2>
	<nav>
	  <a href="/" class="indexlink Home">Home</a>
	  <a href="/about" class="resumelink cur">Resume</a>
	  <a href="/contact" class="contactlink">Contact</a>
      <a href="/posts" class="blog"> Blog </a>
	 </nav>
</header>
<section class="space">
	<table>
		<table border="0">
			<th>
				Summary
			</th>
		<tr>
		  <td>Looking for a Career in the software industry, where I can learn, grow and apply my skills and talents.  With my experience, I am good with computer troubleshooting, hard working, goal focused, creative, resourceful, work well with others, determined to succeed and have a positive attitude.  </td>
		</tr>
		<br>
	    <tr>
			<th>
				Education
			</th>
		</tr>
		<tr>
			<td>High School Diploma from Lehi High School</td>
		</tr>
		<br>
		<tr>
			<th>Career History</th>
		</tr>
		<br>
			<tr>
			<th>Property Solutions</th>
			</tr>
		<tr>
			<td>Support Representative</td>
			<td>6/7/2013 to 8/15/2013</td>
		</tr>
		<tr>
			<td>
				<ul>							
					<li>Front end HTML quality analisis</li>
					<li>Delivered service and support to end-users using and operating automated call distribution phone software, via remote connection or over the Internet;</li>
					<li>Interacted with customers to provide and process information in response to inquiries, concerns, and requests about products and services;</li>
				</ul>
			</td>
		</tr>
		<tr>
			<th>River Meadows Senior living</th>
		</tr>	
		<tr>
			<td>Building and grounds maintenance</td>
			<td>1/1/2009 to 4/30/2011</td>
		</tr>
		<tr>
			<td>
				<ul>
				<li>Worked under the Executive Director  maintaining the needs of the community 
				Ground maintenance included; landscaping, up keep of the five acre community.</li>
				<li>Building Maintenance including; interacting and helping with the personal needs of the residents.</li>
				</ul>
			</td>
		</tr>	
		<tr>
			<th>Accomplishments</th>
		</tr>
		<tr>
			<td>
			<ul>
				<li>Service mission for the Church of Jesus Christ of Latter-day Saints in Philadelphia PA from 5/2011-5/2013. </li>
				<li>Member of the Boy Scouts of America where I achieved my Eagle Scout Award in 2/2010.</li>
			</ul>
			</td>
		</tr>
	</table>
</section>
<footer class="footer">
	<%= link_to(image_tag('facebook-wrap.png'), "https://www.facebook.com/chase.donohue.52", target: "blank", class: "foot") %> 	
	<!-- <a href="https://www.facebook.com/chase.donohue.52"><img src="app/assets/images/facebook-wrap.png" class="foot"></a> -->
</footer>
