
<header class="top">
<h1>Chase Donohue</h1>
<h2>Web Developer</h2>
	<nav >
	  <a href="/" class="indexlink Home">Home</a>
	  <a href="/about" class="resumelinkr">Resume</a>
	  <a href="/contact" class="contactlink cur">Contact</a>
	 </nav>
</header>
<div class="space">
	<%= link_to(image_tag('my_pic.jpg', class: "mypic")) %>
	<%#= link_to(image_tag('facebook-wrap.png'), "https://www.facebook.com/chase.donohue.52", target: "blank", class: "foot") %> 
	<!-- <img src="app/assets/images/my pic.jpg" class="mypic"> -->
</div>
<section class="contactinfo">
	<p>Phone: 801-671-9034</p>
	<p>Email: <a href="mailto:chasedonohue01@gmail.com">Chasedonohue01@gmail.com</a></p>
</section>
<footer>
	<%= link_to(image_tag('facebook-wrap.png'), "https://www.facebook.com/chase.donohue.52", target: "blank", class: "foot") %> 		
</footer>
