<!--<%#= link_to 'Contact', contact_path %>-->
<!--<%#= link_to 'about', about_path %>-->
<header class="top">
<h1>Chase Donohue</h1>
<h2>Web Developer</h2>
	<nav >
	  <a href="/" class="indexlink Home cur">Home</a>
	  <a href="/about" class="resumelink">Resume</a>
	  <a href="/contact" class="contactlink">Contact</a>
	 </nav>
</header>
</header>
<section id="section">
	<p>I am passionate about learning how to make things work. Programing is particularly something that I have always been interested in learning but it is something that I would like posibably make a career out of. I have always enjoyed learning how computers work, so this has been a goal for me for some time. To fufill this goal I am currently learning Ruby programing at Dev Point Labs.   </p>
	<p>On my spare time I enjoy Mountain Biking, Camping, Hiking, World changing History, Assembling Computers , and Four Wheeling, guns enthusiast, car lover.  </p>
</section>
<footer> 
	 <%= link_to(image_tag('facebook-wrap.png'), "https://www.facebook.com/chase.donohue.52", target: "blank", class: "foot") %> 		
    <!-- <a href="https://www.facebook.com/chase.donohue.52"><img class="foot" src="../portfolio/app/assets/images/facebook-wrap.png"></a> -->
</footer>

