// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// nav a {
//   color: #000;
//   &:visited {
//     color: #fff;
//   }
//    &:hover {
//      color: #fff;
//      background-color: #000;
//    }
// }
h1 {
    margin:0 auto .5em;
    padding: .5em;
    box-sizing: border-box;
    }
.blogposts {
      margin:1em 25% 25%;
}
